.react-finder {

  &-container {
    display: flex;
    background-color: white;
    border: solid 1px lightgray;
    font-size: .9em;
    min-height: 400px;
    overflow: auto;
  }

  &-column {
    border-right: solid 1px lightgray;
    max-height: 600px;
    min-height: inherit;
    min-width: 200px;
    overflow-y: auto;
  }

  &-item {
    padding: 6px;
    cursor: pointer;

    &:hover {
      background-color: #ecf6fd;
    }

    &.opened {
      background-color: #DEDEDE;
    }

    &.selected {
      background-color: dodgerblue;
      color: white;
    }
  }

  &-detail {
    align-items: center;
    border-right: 0;
    display: flex;
    flex: 2;
    justify-content: center;
    padding: 0 1.5em;
  }
}
